allow-flight={{ properties["allow-flight"] | default('true') | lower }}
allow-nether={{ properties["allow-nether"] | default('true') | lower }}
broadcast-console-to-ops={{ properties["broadcast-console-to-ops"] | default('true') | lower }}
broadcast-rcon-to-ops={{ properties["broadcast-rcon-to-ops"] | default('true') | lower }}
difficulty={{ properties["difficulty"] | default('medium') }}
enable-command-block={{ properties["enable-command-block"] | default('true') | lower }}
enable-jmx-monitoring={{ properties["enable-jmx-monitoring"] | default('false') | lower }}
enable-query={{ properties["enable-query"] | default('false') | lower }}
enable-rcon={{ properties["enable-rcon"] | default('false') | lower }}
enable-status={{ properties["enable-status"] | default('true') | lower }}
enforce-whitelist={{ properties["enforce-whitelist"] | default('true') | lower }}
entity-broadcast-range-percentage={{ properties["entity-broadcast-range-percentage"] | default('100') }}
force-gamemode={{ properties["force-gamemode"] | default('false') | lower }}
function-permission-level={{ properties["function-permission-level"] | default('2') }}
gamemode={{ properties["gamemode"] | default('survival') }}
generate-structures={{ properties["generate-structures"] | default('true') | lower }}
generator-settings={{ properties["generator-settings"] | default('{}') }}
hardcore={{ properties["hardcore"] | default('false') | lower }}
hide-online-players={{ properties["hide-online-players"] | default('false') | lower }}
level-name={{ server["world-name"] | default('world') }}
level-seed={{ properties["level-seed"] | default('') }}
level-type={{ properties["level-type"] | default('minecraft:normal') }}
max-chained-neighbor-update={{ properties["max-chained-neighbor-update"] | default('1000000') }}
max-players={{ properties["max-players"] | default('50') }}
max-tick-time={{ properties["max-tick-time"] | default('60000') }}
max-world-size={{ properties["max-world-size"] | default('29999984') }}
motd={{ properties["motd"] | default('A Minecraft Server') }}
network-compression-threshold={{ properties["network-compression-threshold"] | default('256') }}
online-mode={{ properties["online-mode"] | default('true') | lower }}
op-permission-level={{ properties["ops-permission-level"] | default('4') }}
player-idle-timeout={{ properties["player-idle-timeout"] | default('0') }}
prevent-proxy-connections={{ properties["prevent-proxy-connections"] | default('false') | lower }}
previews-chat={{ properties["previews-chat"] | default('false') | lower }}
pvp={{ properties["pvp"] | default('true') | lower }}
query.port={{ properties["query-port"] | default('25565') }}
rate-limit={{ properties["rate-limit"] | default('0') }}
rcon.password={{ properties["rcon-password"] | default('') }}
rcon.port={{ properties["rcon-port"] | default('25575') }}
require-resource-pack={{ properties["require-resource-pack"] | default('false') | lower }}
resource-pack={{ properties["resource-pack"] | default('') }}
resource-pack-prompt={{ properties["resource-pack-prompt"] | default('') }}
resource-pack-sha1={{ properties["resource-pack-sha1"] | default('') }}
server.ip=
server.port=25565
simulation-distance={{ properties["simulation-distance"] | default('10') }}
snooper-enabled={{ properties["snooper-enabled"] | default('false') | lower }}
spawn-animals={{ properties["spawn-animals"] | default('true') | lower }}
spawn-monsters={{ properties["spawn-monsters"] | default('true') | lower }}
spawn-npcs={{ properties["spawn-npcs"] | default('true') | lower }}
spawn-protection={{ properties["spawn-protection"] | default('16') }}
sync-chunk-writes={{ properties["sync-chunk-writes"] | default('true') | lower }}
text-filtering-config={{ properties["text-filtering-config"] | default('') }}
use-native-transport={{ properties["use-native-transport"] | default('true') | lower }}
view-distance={{ properties["view-distance"] | default('10') }}
white-list={{ properties["white-list"] | default('true') | lower }}
